<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User table</title>
</head>
<body>
<h1>User table</h1>
<br/>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Role</th>
            <th></th>
        </tr>
        <tr>
            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getFirstname()}">...</td>
            <td th:utext="${user.getLastname()}">...</td>
            <td th:utext="${user.getAge()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td >
                <ul>
                    <li th:each="role : ${user.roles}" th:text="${#strings.substringAfter(role.getName(), '_')}"></li>
                </ul>
            </td>
        </tr>
    </table>
</div>

<br/>

<input type="submit" value="Admin mode" th:if="${#request.isUserInRole('ADMIN')}"
           onclick="window.location.href = '/admin/'">

<h1></h1>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>

</body>
</html>