<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<h1>User Info</h1>
<br/>

<form method="post" th:action="saveNew" th:object="${user}">
    <br>
    <div>
        <label>ID:</label>
        <input type="number" th:field="*{id}" th:placeholder="${id}" readonly="readonly" />
    </div>
    <br/>
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{firstname}" th:placeholder="${firstname}"/>
    </div>
    <br/>
    <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastname}" th:placeholder="${lastname}" />
    </div>
    <br/>
    <div>
        <label>Age:</label>
        <input type="number" th:field="*{age}" th:placeholder="${age}" />
    </div>
    <br/>
    <div>
        <label>E-mail:</label>
        <input type="text" th:field="*{email}" th:placeholder="${email}" />
    </div>
    <br/>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" th:placeholder="${password}" />
    </div>
    <br/>
    <div>
        <label>Role:</label>
        <select th:field="*{roles}" multiple>
            <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name.substring(5)}"></option>
        </select>
    </div>
    </div>
    <br/>
    <input type="submit" value="Save"/>
</form>
</div>
</body>
</html>